{% block sidebar %}

<style>
    .card-bg-custom {
        background-color: #B1B1B5 !important;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card card-bg-custom my-4">
            <h5 class="card-header">About This Blog</h5>
        <div class="card-body">
            <p class="card-text"> This blog is dedicated to those who want to learn more about this framework. Enjoy! :) </p>
            <a href="https://docs.djangoproject.com/en/3.0/"
               class="btn btn-secondary">Learn more Django &rarr;</a>
        </div>
    </div>
</div>
{% endblock sidebar %}
