/* Coolors Exported Palette - coolors.co/651821-2c0b13-1f1024-202762-052a68 */

/* HSL */
$color1: hsla(353%, 62%, 25%, 1);
$color2: hsla(345%, 60%, 11%, 1);
$color3: hsla(285%, 38%, 10%, 1);
$color4: hsla(234%, 51%, 25%, 1);
$color5: hsla(218%, 91%, 21%, 1);

/* RGB */
$color1: rgba(101, 24, 33, 1);
$color2: rgba(44, 11, 19, 1);
$color3: rgba(31, 16, 36, 1);
$color4: rgba(32, 39, 98, 1);
$color5: rgba(5, 42, 104, 1);