/* Coolors Exported Palette - coolors.co/3c0919-3e000c-ad0a2b-fb4b4e-ffb997 */

/* HSL */
$color1: hsla(341%, 74%, 14%, 1);
$color2: hsla(348%, 100%, 12%, 1);
$color3: hsla(348%, 89%, 36%, 1);
$color4: hsla(359%, 96%, 64%, 1);
$color5: hsla(20%, 100%, 80%, 1);

/* RGB */
$color1: rgba(60, 9, 25, 1);
$color2: rgba(62, 0, 12, 1);
$color3: rgba(173, 10, 43, 1);
$color4: rgba(251, 75, 78, 1);
$color5: rgba(255, 185, 151, 1);